<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel *ngFor="let match of matches">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ match.firstTeam }}
        -
        {{ match.secondTeam }}
      </mat-panel-title>
      <mat-panel-description>
        <span>
          <b>
            {{ match.firstTeamScore }}
            -
            {{ match.secondTeamScore }}
          </b>
        </span>
        <button
          *ngIf="isAdmin"
          mat-raised-button
          color="accent"
          (click)="upsertMatch(match)"
        >
          Edit
        </button>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <!-- Comments -->
    <div *ngFor="let comment of match.comments" class="comment-row">
      <span class="comment-row-description">
        {{ comment.comment }}
        <span class="color-grey">
          {{ comment.author?.fullName }}
          {{ comment.timestamp | date: "medium" }}
        </span>
      </span>
      <div class="action-buttons">
        <button
          *ngIf="isRegular && canEditComment(comment)"
          mat-fab
          color="accent"
          (click)="upsertComment(match, comment)"
        >
          <mat-icon> edit </mat-icon>
        </button>
        <button
          *ngIf="(isRegular && canEditComment(comment)) || isAdmin"
          mat-fab
          color="warn"
          (click)="deleteComment(match, comment)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div *ngIf="match?.comments?.length === 0" class="comment-row">
      <i class="color-grey">No comments found...</i>
    </div>

    <button
      class="large-button"
      *ngIf="isRegular"
      mat-raised-button
      color="primary"
      (click)="upsertComment(match, null)"
    >
      Add a comment
    </button>
  </mat-expansion-panel>
</mat-accordion>
<button
  class="large-button"
  *ngIf="isAdmin"
  mat-raised-button
  color="primary"
  (click)="upsertMatch(null)"
>
  Add match
</button>
