<ng-container *ngIf="matches"></ng-container>
<ul>
  <li *ngFor="let match of matches">
    {{ match.firstTeam }}
    vs
    {{ match.secondTeam }}
    <b>
      {{ match.firstTeamScore }}
      -
      {{ match.secondTeamScore }}
    </b>

    <div>
      <button mat-raised-button color="accent" (click)="upsertMatch(match)">
        Edit match
      </button>
    </div>
    <div>
      <p *ngFor="let comment of match.comments">
        {{ comment.comment }}
        {{ comment.author?.fullName }}
        {{ comment.timestamp | date: "medium" }}
        <button
          mat-raised-button
          color="accent"
          (click)="upsertComment(match, comment)"
        >
          Edit comment
        </button>
        <button mat-fab color="warn" (click)="deleteComment(match, comment)">
          <mat-icon>delete</mat-icon>
        </button>
      </p>
      <button
        mat-raised-button
        color="primary"
        (click)="upsertComment(match, null)"
      >
        Add comment
      </button>
    </div>
  </li>
  <button mat-raised-button color="primary" (click)="upsertMatch(null)">
    Add match
  </button>
</ul>
