/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.display-flex {
  display: flex;
}

.justify-content {
  &-center {
    justify-content: center;
  }
  &-space-between {
    justify-content: space-between;
  }
}
